@import url('https://fonts.googleapis.com/css?family=Kosugi|Montserrat');
/* font-family: 'Montserrat', sans-serif; */
.Projects {
  background-color: rgba(184, 184, 184, 0.37);
  text-align: center;
  overflow: hidden;
}

#projects-header {
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size: 7vh;
}

.Footer {
  text-align: center;
  color: grey;
  padding: 20px;
  background-color: white;
  font-size: 2vh;
}

  

.ProjectCard-thumbnail-186 {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ProjectCard-thumbnail-186:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
